@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Final Fantasy 8: Online</h1>
    <h4 class="font-weight-bold">A Neverwinter Nights Persistent World</h4>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">About the Server</h5>
                <p class="card-text">
                    Final Fantasy 8: Hortus Memoria is a mod built for Neverwinter Nights. Taking place a hundred years after the events of the original game, you are a SeeD candidate at an elite military school called Balamb Garden.
                    <br />
                    <br />
                    Create your character, learn new skills, fight daring battles, and immerse yourself in the world of Final Fantasy 8!
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Connection Info</h5>
                <p class="card-text">

                    <ul>
                        <li>
                            <b>Direct Connect:</b> play.ff8.io:5121  (Server is currently in development and not accessible at this time)
                        </li>
                        <li>
                            <b>Discord:</b> <a href="https://discord.gg/eF9XxBb">Click Here</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Buy Neverwinter Nights</h5>
                <p class="card-text">
                    <ul>
                        <li>
                            <b>Buy on Steam:</b> <a href="http://store.steampowered.com/app/704450/Neverwinter_Nights_Enhanced_Edition/" target="_blank">Click Here</a>
                        </li>
                        <li>
                            <b>Buy on Beamdog:</b> <a href="https://www.beamdog.com/products/neverwinter-nights-enhanced-edition#signup-form" target="_blank">Click Here</a>
                        </li>
                        <li>
                            <b>Buy on GOG:</b> <a href="https://www.gog.com/game/neverwinter_nights_enhanced_edition_pack" target="_blank">Click Here</a>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
